EC2_SSH_USER: EC2_SSH_USER
EC2_GROUPS: EC2_GROUPS
EC2_SSH_KEY_ID: EC2_SSH_KEY_ID
EC2_PRI_KEY: EC2_PRI_KEY
EC2_INVALID_FLAVOR: EC2_INVALID_FLAVOR
EC2_LINUX_IMAGE: EC2_LINUX_IMAGE
EC2_WINDOWS_IMAGE: EC2_WINDOWS_IMAGE
EC2_WINDOWS_SSH_IMAGE: EC2_WINDOWS_SSH_IMAGE 
EC2_WINDOWS_SSH_USER: EC2_WINDOWS_SSH_USER
EC2_WINDOWS_SSH_PASSWORD: EC2_WINDOWS_SSH_PASSWORD